<div ng-controller="UserAreaController as userAreaController">
        <div id="wrap">
            <div id="header" class="panel panel-default">
                <div class="panel-body">
                    <a href="" ng-click="userAreaController.setTemplate(Templates.USER_AREA_HOME_CONTENT)"><i class="icon32-home2"></i></a>
                    <a href="" id="btn-user" ><i class="icon32-profile" ng-click="userAreaController.setTemplate(Templates.USER_AREA_PROFILE)"></i></a>
                </div>
            </div>		
            <div id="content">
                <div ng-include="userAreaController.template"></div>
            </div>
        </div>

        <style type="text/css">

			#wrap{
				background-color: #DDDDDD;
			}
			
            #header{
                position: fixed;
                top: 0; right: -2px; left: -2px; z-index: 1000;
                background-color: whitesmoke;
				-webkit-box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.75);
				-moz-box-shadow:    0px 2px 7px 0px rgba(50, 50, 50, 0.75);
				box-shadow:         0px 2px 7px 0px rgba(50, 50, 50, 0.75);
            }

            #btn-user{
                float: right;
            }

            #content{
                padding-top: 10px;
            }

            #btn-exit{
                float: right;
            }
        </style>
</div>