<div ng-controller="MemberController as memberController">
    <div id="profile-body" class="text-primary">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2">
                <div collapse="isChoosePhotoCollapsed">
                    <div class="well well-sm">
                        <a href="" ng-click="memberController.capturePhoto()"><span class="label label-info button">Camera</span></a>
                        <a href="" ng-click="memberController.getPhoto()"><span class="label label-info button">Galeria</span></a>
                    </div>
                </div>
                <div class="well well-sm boxshadow" id="profileImage">
                    <img style="z-index: 0;" ng-src="{{profileImage}}" imageonload />
                    <span class="btn-file">
                        <i class="icon-camera-retro" ng-click="isChoosePhotoCollapsed = !isChoosePhotoCollapsed"></i>
                    </span>
                </div>
            </div>
            <div class="col-sm-8 col-md-9 col-lg-10">
                <ul class="list-group boxshadow">
                    <li class="list-group-item">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-md-5 col-lg-4">
                                    <h4 ng-hide="editing" id="member-name">
                                        <span>{{ member.name || 'Nome Completo' }}</span>
                                    </h4>
                                    <input ng-model="member.name" class="form-control" type="text" ng-show="editing" />
                                </div>
                                <div class="col-md-7 col-lg-8">
                                    <span>{{ member.email}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default">Quando voc&ecirc; nasceu?</span>
                        <div class="well well-sm" ng-hide="editing">{{moment(member.birthDate, 'DDMMYYYY').format('LL')}}</div>
                        <input class="form-control date" type="text" ng-show="editing" ng-model="member.birthDate" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" />
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default">Onde voc&ecirc; mora?</span>
                        <div class="well well-sm" ng-hide="editing">{{member.location.city}} - {{member.location.state}} - {{member.location.country}}</div>
                        <div class="row location" ng-show="editing">
                            <div class="col-xs-12">
                                <input class="form-control input-sm" ng-model="member.location.city" placeholder="Cidade" type="text" />
                            </div>
                            <div class="col-xs-12">
                                <input class="form-control input-sm" ng-model="member.location.state" placeholder="Estado" type="text" />
                            </div>
                            <div class="col-xs-12">
                                <input class="form-control input-sm" ng-model="member.location.country" placeholder="Pa&iacute;s" type="text" />
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default">G&ecirc;nero</span>
                        <span class="label label-info" ng-if="member.gender === 1" ng-hide="editing">Homem</span>
                        <span class="label label-info" ng-if="member.gender === 2" ng-hide="editing">Mulher</span>
                        <div class="btn-group btn-group-xs" ng-show="editing">
                            <label class="btn btn-danger" ng-model="member.gender" btn-radio="1">Homem</label>
                            <label class="btn btn-danger" ng-model="member.gender" btn-radio="2">Mulher</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default">Fala um pouco sobre voc&ecirc;</span>
                        <div class="well well-sm" ng-hide="editing">
                            {{member.aboutMe|| 'Fique a vontade, esse espa&ccedil;o &eacute; livre para voc&ecirc; falar sobre seus projetos e o que voc&ecirc; na sua carreira profissional ou vida pesoal'}}
                        </div>
                        <textarea class="form-control" ng-model="member.aboutMe" ng-show="editing"></textarea>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="footer">
        <div class="panel-body">
            <a id="btn-edit" href="" ng-click="editing = true" ng-hide="editing"><i class="icon32-pencil"></i></a>
            <a href="" style="margin-right: 20px;" ng-show="editing" ng-click="memberController.saveMe()"><i class="icon32-save"></i></a>
            <a href=""><i class="icon32-back" ng-hide="editing" ng-click="userAreaController.setTemplate(userAreaController.backTemplate)"></i></a>
            <a href="" ng-show="editing" ng-click="editing = false"><i class="icon32-cancel"></i></a>
        </div>
    </div>
    <style>
        .btn-file {
            position: absolute;
            overflow: hidden;
            cursor: pointer !important;
        }
        
        .form-control {
            border: 0px !important;
            border-bottom: 1px solid whitesmoke !important;
            color: gray;
        }
        #profile-body {
            margin-right: 15px;
            margin-left: 15px;
            background: transparent;
        }
        
        #footer {
            position: fixed;
            bottom: 0;
            right: -2px;
            left: -2px;
            margin-bottom: 0px;
            background-color: whitesmoke;
            -webkit-box-shadow: 0px -2px 7px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 0px -2px 7px 0px rgba(50, 50, 50, 0.75);
            box-shadow: 0px -2px 7px 0px rgba(50, 50, 50, 0.75);
        }
        #member-name {
            margin: 0px;
            margin-bottom: 10px;
        }
        #profileImage {
            width: 200px !important;
            min-height: 200px !important;
            margin: 0px auto;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 20px;
            border: 4px solid white;
        }
        #profileImage img {
            display: none;
        }
        #btn-edit {
            float: right;
        }
        .location {
            width: 250px;
        }
    </style>
</div>